.wrapper {
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  font-size: calc(10px + 2vmin);
  color: white;
}

.app {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #282c34;
}